<!DOCTYPE html>
<html lang="zh-CN">
 <head> 
  <meta charset="utf-8" /> 
  <title>同游 - 求结伴</title> 
  <meta name="renderer" content="webkit" /> 
  <meta http-equiv="mobile-agent" content="format=html5; url=http://m.liantu.cn/tongyou/113.html" /> 
  <meta name="keywords" content="#3月28日 成都到拉萨，青藏，川藏，可可西里16日游 求结伴#,成都到拉萨，青藏，川藏，可可西里旅游" /> 
  <meta name="description" content="3.28号我们出发，走318国道川藏进，时间够的还可以青藏出，一起是16天。目前8名队友报名，再约5-7名队友，我们计划2-3台车走，路上有个照应。索要详细行程计划安排qq/微信474016180.去远方.在路上！" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  <link rel="shortcut icon" href="../../images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="../../css/common.css" />
  <link rel="stylesheet" type="text/css" href="../../css/detail.css" />
  <script type="text/javascript">
var TU={
wwwUrl:'http://www.liantu.cn',
myUrl:'http://my.liantu.cn',
imageUrl:'http://static.liantu.cn/image/',
domain:'liantu.cn',
today:'2016-03-08',
mobile_agent:'http://m.liantu.cn/tongyou/113.html'
};
var isMobi = (function(){
var u = navigator.userAgent.toLowerCase();
return  u.indexOf("mobi") > 0 || u.indexOf("nexus 7") > 0 || u.indexOf("480") > 0;
})();
if(isMobi&&TU.mobile_agent!=''){
location.href = TU.mobile_agent;
}
</script> 
  <script type="text/javascript" id="js-prelogin" src="../../js/cas.js"></script>
  <script type="text/javascript" src="../../js/jquery.seajs.js" id="seajsnode"></script>
  <link rel="stylesheet" type="text/css" href="../../css/common.css" />
  <style>
   .mod-in {
    position: absolute;
    top: 0px;
    left: s0%;
    margin-left: -200px;
    width: 400px;
    height: 701px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #bdbdbd;
    background: #fff;
    overflow: hidden;
    zoom: 1;
    z-index: 99;
    display: block;
   }

  </style>
 </head>
 <body>
 <div class="wrapper">
      <div class="mod-in">
       <div class="hd">
        <h1>报名参与</h1> 
        <a href="javascript:;"> <img src="../../images/man_160x160.jpg" /> </a>
       </div> 
       <div class="bd"> 
        <div class="info"> 
         <ul> 
          <li class="infoli index10"> <label>　　我是</label> 
           <div class="select-div pd-r20" onselectstart="return false;"> 
            <select name="age" class="age"> <option value="70">70后</option><option value="80">80后</option><option value="90">90后</option> </select> 
           </div> 
           <div class="select-div" onselectstart="return false;"> 
            <select name="gender" class="gender"> <option value="男" selected="selected">男</option> <option value="女">女</option> </select> 
           </div> </li> 
          <li class="infoli index9"> <label>现居住地</label> <input type="text" class="input-text text pcc" name="from" data-text="1" value="北京" /> </li> 
          <li class="infoli index8 pd23"> <label>联系方式</label> 
           <div class="select-div contact" onselectstart="return false;"> 
            <select name="contacttype" class="contact-type"> <option value="qq">QQ</option> <option value="mobile">手机</option> <option value="wechat">微信</option> </select> 
           </div> <input type="text" name="contactnumber" data-mobile="18005151538" class="input-text contact-input" /> </li> 
          <li class="infoli"> <label>　　备注</label> <textarea name="message" class="input-text area-text message"></textarea> <span class="text-count"> <span class="word">0</span> / <span class="max">60</span> </span> </li> 
          <li class="infoli index7 mg-t84"> 
           <div class="btn"> 
            <a href="javascript:" class="send submit">提交申请</a> 
           </div> </li> 
         </ul> 
        </div> 
       </div> 
       <div class="ft"></div> 
      </div>
   </div>
<script src="/js/jquery-3.3.1.js"></script>
  <script src="/js/jquery.cookie.js"></script>
  <script src="/js/layer/layer.js"></script>
  <script src="/js/page/jquery.pagination.js"></script>
  <script type="text/javascript">
      var pageNum=1;
      var pageSize = 10;
      var mainId = Cookies.get('mainId');
      $(function(){
          if(mainId){
             Cookies.remove("mainId");
          }
      });

      function clearCity(){
          $("#toVisitorlist").html("");
          pageNum=1;
          searchCity();
      }

      function searchData(){
          $.ajax({
              url:'/tovisitor/selectById',
              data:{
                  'tovisitorid':mainId
              },
              type: 'post',
              success:function(res){
                  if (res.code===200) {
                     if(res.data){
                         //if(res.data.toVisitor){
                             var toVisitor = res.data;
                             var stateName= "结伴中";
                             if(toVisitor.status=="0"){
                                 stateName= "停止结伴";
                             }
                             var pageDate = "";
                             if(toVisitor.date){
                                 pageDate = fmtDate(new Date(parseInt(toVisitor.date)));
                             }
                             var allMessage =pageDate+'  '+toVisitor.departure+' 到 '+toVisitor.destination+' '+toVisitor.timenum+'日游'+' '+stateName
                             var messageInfoHtml="";
                             messageInfoHtml+='<img class="head" src="\''+toVisitor.picture+'\'" alt="" />';
                             messageInfoHtml+='<div class="hd"> <p>';
                             messageInfoHtml+='征途奇兵';
                             messageInfoHtml+='<span class="sex male"> </span> </p><span class="location">';
                             messageInfoHtml+=' 四川 • 成都，80后';
                             messageInfoHtml+='</span> </div> <div class="bd"><h1 class="title">';
                             messageInfoHtml+= allMessage;
                             messageInfoHtml+='<span class="state finish">';
                             messageInfoHtml+=stateName;
                             messageInfoHtml+='</span> </h1> <p class="subtit">路线：';
                             messageInfoHtml+=toVisitor.departure+' ~ '+toVisitor.destination;;
                             messageInfoHtml+='</p> <div class="date"> <ul> <li> <p> 出发时间 </p> <p class="time"> ';
                             messageInfoHtml+=pageDate;
                             messageInfoHtml+='</p> </li> <li> <p> 参加人数 </p> <p class="time">';
                             messageInfoHtml+= toVisitor.presentpart+'/'+toVisitor.part;
                             messageInfoHtml+='  </p> </li> </ul> </div> <div class="detail"><div class="hd"> 结伴详情 </div> <div class="bd">';
                             messageInfoHtml+= toVisitor.details;
                             messageInfoHtml+='<p class="contact-off" id="phoneWay">联系方式报名后可见</p>';
                             messageInfoHtml+='</div> <div class="ft"></div> <span class="line"></span> </div> <div class="join"> <span>参与的人：</span><span>';
                             messageInfoHtml+='<img src="../../images/65768.png" alt="" />' ;
                             messageInfoHtml+=  '</span></div> <div class="btn"> <a href="javascript:" class="send" onclick="TU.login(\'reg\');">报名参加</a> </div> </div>';
                             messageInfoHtml+=' <a class="launch" href="/views/tongyou/createtoungyou.html"  rel="nofollow"> <span class="plus"></span>发起同游 </a>';
                             $("#messageInfo") .html(messageInfoHtml)
                       //  }
                     }
                  } else if (res.code===500) {
                      layer.msg(res.message);
                  }
              }
          });
      }



      document.onkeydown = function(e){
          var ev = document.all ? window.event : e;
          if(ev.keyCode==13) {
              var cityname = $("#search_text").val();
              if(cityname){
                  searchCity(cityname);
              }else{
                  layer.msg("请输入要搜索的城市信息");
              }
          }
      }

      function toDetail(mainId){
          Cookies.set("tongyouMainId",mainId);
          location.href="/views/tongyou/tongyouDetail.html";
      }

      var userName ;
      var loginFun = function(){
          $.ajax({
              url: '/returnLogin',
              type: 'post',
              success: function (_res) {
                  if (_res.code===200) {
                      $("#login_user_name_detail").text(_res.message);
                      $("#pl-login-info_detail").removeClass("displayNone");
                      var userName =_res.message;
                  } else if (_res.code===500) {
                      $("#loginDiv_detail").removeClass("displayNone");
                  }
              }
          });
      };
      //控制头像登录 滑入滑出
      $("#pl-login-info_detail").hover(function(){
          $("#loginInfo_detail").toggle();
      });

      function loginOut(){
          $.ajax({
              url: '/visitor/loginOut',
              type: 'post',
              success: function (_res) {
                  if (_res.code===200) {
                      if(!$("#pl-login-info_detail").hasClass("displayNone")){
                          $("#pl-login-info_detail").addClass("displayNone");
                      }
                      if($("#loginDiv_detail").hasClass("displayNone")){
                          $("#loginDiv_detail").removeClass("displayNone");
                      }
                  } else if (_res.code===500) {
                      layer.msg("退出失败");
                  }
              }
          });
      }
      loginFun();

      function fmtDate(obj){
          var date =  new Date(obj);
          var y = 1900+date.getYear();
          var m = "0"+(date.getMonth()+1);
          var d = "0"+date.getDate();
          return y+"-"+m.substring(m.length-2,m.length)+"-"+d.substring(d.length-2,d.length);
      }
  </script>
 </body>
</html>