<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljs.demo.pojo.mapper.MyVisitorMapper" >
  <resultMap id="BaseResultMap" type="com.ljs.demo.pojo.domain.MyVisitor" >
    <id column="MYVISITORID" property="myvisitorid" jdbcType="INTEGER" />
    <result column="UUID" property="uuid" jdbcType="VARCHAR" />
    <result column="WITHNAME" property="withname" jdbcType="VARCHAR" />
    <result column="WITHPHONE" property="withphone" jdbcType="VARCHAR" />
    <result column="WITHSEX" property="withsex" jdbcType="VARCHAR" />
    <result column="WITHCITY" property="withcity" jdbcType="VARCHAR" />
    <result column="WITHPHOTO" property="withphoto" jdbcType="VARCHAR" />
    <result column="VISITORID" property="visitorid" jdbcType="VARCHAR"/>
    <result column="TOVISITORID" property="tovisitorid" jdbcType="VARCHAR"/>
    <result column="STATUS" property="status" jdbcType="INTEGER"/>
  </resultMap>
  <sql id="Base_Column_List" >
    MYVISITORID, UUID, WITHNAME, WITHPHONE, WITHSEX, WITHCITY, WITHPHOTO,TOVISITORID,STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from MYVISITOR
    where MYVISITORID = #{myvisitorid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from MYVISITOR
    where MYVISITORID = #{myvisitorid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ljs.demo.pojo.domain.MyVisitor" >
    insert into MYVISITOR (MYVISITORID, UUID, WITHNAME, 
      WITHPHONE, WITHSEX, WITHCITY, 
      WITHPHOTO,VISITORID,TOVISITORID,STATUS)
    values (#{myvisitorid,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{withname,jdbcType=VARCHAR}, 
      #{withphone,jdbcType=VARCHAR}, #{withsex,jdbcType=VARCHAR}, #{withcity,jdbcType=VARCHAR}, 
      #{withphoto,jdbcType=VARCHAR}),#{visitorid,jdbcType=VARCHAR},#{tovisitorid,jdbcType=VARCHAR},#{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ljs.demo.pojo.domain.MyVisitor" >
    insert into MYVISITOR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="myvisitorid != null" >
        MYVISITORID,
      </if>
      <if test="uuid != null" >
        UUID,
      </if>
      <if test="withname != null" >
        WITHNAME,
      </if>
      <if test="withphone != null" >
        WITHPHONE,
      </if>
      <if test="withsex != null" >
        WITHSEX,
      </if>
      <if test="withcity != null" >
        WITHCITY,
      </if>
      <if test="withphoto != null" >
        WITHPHOTO,
      </if>
      <if test="visitorid != null" >
        VIDITORID,
      </if>
      <if test="toviditorid != null" >
        TOVISITORID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="myvisitorid != null" >
        #{myvisitorid,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="withname != null" >
        #{withname,jdbcType=VARCHAR},
      </if>
      <if test="withphone != null" >
        #{withphone,jdbcType=VARCHAR},
      </if>
      <if test="withsex != null" >
        #{withsex,jdbcType=VARCHAR},
      </if>
      <if test="withcity != null" >
        #{withcity,jdbcType=VARCHAR},
      </if>
      <if test="withphoto != null" >
        #{withphoto,jdbcType=VARCHAR},
      </if>
      <if test="visitorid != null" >
        #{visitorid,jdbcType=VARCHAR},
      </if>
      <if test="tovisitorid != null" >
        #{tovisitorid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ljs.demo.pojo.domain.MyVisitor" >
    update MYVISITOR
    <set >
      <if test="uuid != null" >
        UUID = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="withname != null" >
        WITHNAME = #{withname,jdbcType=VARCHAR},
      </if>
      <if test="withphone != null" >
        WITHPHONE = #{withphone,jdbcType=VARCHAR},
      </if>
      <if test="withsex != null" >
        WITHSEX = #{withsex,jdbcType=VARCHAR},
      </if>
      <if test="withcity != null" >
        WITHCITY = #{withcity,jdbcType=VARCHAR},
      </if>
      <if test="withphoto != null" >
        WITHPHOTO = #{withphoto,jdbcType=VARCHAR},
      </if>
      <if test="visotorid != null" >
        VISITORID = #{visitorid,jdbcType=VARCHAR},
      </if>
      <if test="tovisitorid != null" >
        TOVISITORID = #{tovisitorid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where MYVISITORID = #{myvisitorid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ljs.demo.pojo.domain.MyVisitor" >
    update MYVISITOR
    set UUID = #{uuid,jdbcType=VARCHAR},
      WITHNAME = #{withname,jdbcType=VARCHAR},
      WITHPHONE = #{withphone,jdbcType=VARCHAR},
      WITHSEX = #{withsex,jdbcType=VARCHAR},
      WITHCITY = #{withcity,jdbcType=VARCHAR},
      WITHPHOTO = #{withphoto,jdbcType=VARCHAR},
      VISITORID = #{visitorid,jdbcType=VARCHAR},
      TOVISITORID = #{tovisitorid,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR}
    where MYVISITORID = #{myvisitorid,jdbcType=INTEGER}
  </update>


  <select id="queryByToUid" parameterType="String" resultMap="BaseResultMap">
    SELECT * from MYVISITOR WHERE TOVISITORID = #{toUid,jdbcType=VARCHAR}
  </select>
</mapper>