<!DOCTYPE html>
<html lang="zh-CN">
    <head> 
        <meta charset="utf-8" /> 
        <meta name="renderer" content="webkit" /> 
        <title>更改头像</title> 
        <link rel="shortcut icon" href="images/favicon.ico" /> 
        <link rel="stylesheet" type="text/css" href="css/common_member.css" /> 
        <link rel="stylesheet" type="text/css" href="css/portrait.css" />
        <link rel="stylesheet" type="text/css" href="css/webuploader.css">
        <link rel="stylesheet" type="text/css" href="../css/common.css" />
        <style>
            .mod-head .login .name {
                display: -webkit-inline-box;
            }
            .box-portrait .input-file {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 222;
                filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
                opacity: 0;
                font-size: 100px;
            }.box-portrait .btn-portrait {
                 background: #4caf50;
             }
            .box-portrait a {
                position: relative;
                display: block;
                width: 290px;
                height: 50px;
                color: #fff;
                text-align: center;
                line-height: 50px;
                font-size: 24px;
                margin-top: 20px;
                overflow: hidden;
                cursor: pointer;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px;
            }
        </style>
    </head>
    <body> 
        <div class="header"> 
            <div class="top-bg"></div>
            <div class="mod-head">
                <div class="box">
                    <a href="main.html" class="logo"><img src="../images/logo.png" alt="联途" /></a>
                    <div class="link">
                        <a href="apply.html">申请成为向导</a>
                    </div>
                    <div class="login pl-login-info displayNone" id="pl-login-info" >
                        <div class="user" >
                            <img src="http://static.liantu.cn/image/public/man_100x100.jpg" alt="cp" width="40" height="40">
                            <span class="name" id="login_user_name"></span>
                            <span class="ico"></span>
                        </div>
                        <div class="list" id="loginInfo" style="display: none;height: 138px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px; right: -26px;">
                            <div class="ico">
                            </div>
                            <ul>
                                <li class="d-pc">
                                    <a href="/toMemberInfo">个人信息</a>
                                </li>
                                <li>
                                    <a href="http://my.liantu.cn/member/order/">我的订单</a>
                                </li>
                                <li>
                                    <a href="http://my.liantu.cn/member/travel/createlist/">我的同游</a>
                                </li>
                                <li class="d-m">
                                    <a href="http://my.liantu.cn/member/account/">我的钱包</a>
                                </li>
                                <li class="d-m">
                                    <a href="/banyou/">伴游</a>
                                </li>
                                <li class="d-m">
                                    <a href="/daoyou/">导游</a>
                                </li>
                                <li class="d-m">
                                    <a href="/tongyou/">同游</a>
                                </li>
                                <li class="d-pc">
                                    <a onclick="loginOut()">退出</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="login pl-login-info displayNone" id="loginDiv">
                        <div class="info">
                            <a  href="/login">登录</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container"> 
            <div class="home"> 
                <a href="views/main.html"> <span class="plus"></span>返回首页 </a>
            </div> 
            <div class="wrap"> 
                <div class="side"> 
                    <div class="avatar"> 
                        <img src="images/man_160x160.jpg" alt="用户中心" /> 
                        <p><span class="usr-name">180*****538</span> <span class="gender male "></span> </p> 
                    </div> 
                    <ul class="menu">
                        <li> <a href="/toMemberInfo" class="info">基本信息</a>
                            <div class="sub-menu">
                                <p><a href="/toMemberAvatar" class="sc2">更换头像</a></p>
                                <p><a href="/toUpdatePassword" class="sc2">修改密码</a></p>
                            </div> </li> 
                        <li> <a href="member_order.html" class="order">我的订单</a> </li> 
                        <li> <a href="member_withdraw.html" class="wallet">我的钱包</a> </li> 
                        <li> <a href="member_tongyou.html" class="gowith">结伴同游</a> </li> 
                    </ul> 
                </div> 
                <div class="content"> 
                    <h2>更改头像</h2> 
                    <div class="mod-box"> 
                        <div class="box-portrait" id="uploader-demo">
                            <div class="portrait"> 
                                <div class="pic200 uploader-list" id="fileList">
                                    <img src="images/man.jpg" id="j-curimg" class="cur-portrait" alt="当前头像" width="200" height="200" /> 
                                </div> 
                            </div>

                            <form action="/file/savaPhoto" method="POST" id="fileForm" enctype="multipart/form-data" >
                                <input class="input-file displayNone" onchange="uploadFile()" type="file" name="file"  />
                                <a onclick="optionImage()" id="j-upload" class="btn-portrait" title="选择头像">
                                    <span>选择头像</span>
                                </a>
                            </form>
                            <a onclick="saveFile()" class="btn-confirm" title="保存">保存</a>
                        </div>
                    </div> 
                </div> 
                <div class="pop-portrait" id="j-dialog"> 
                    <a href="javascript;" class="close" title="关闭">关闭</a> 
                    <div class="portrait-box"> 
                        <div class="portrait pop"> 
                            <div class="pop-box"> 
                                <img src="images/man.jpg" /> 
                            </div> 
                        </div> 
                        <form action="/member/profile/portraitimg" method="POST" name="form" type="multipart/form-data" target="callback">
                            <a href="javascript:;" id="j-chose" class="btn-select" title="重新选择"><input class="input-file" type="file" name="portrait" /> 重新选择</a> 
                            <iframe id="callback" name="callback" class="callback"></iframe> 
                        </form> 
                        <p>请上传 .jpg 或 .gif 或 .png 格式的图片（照片大小需小于2M）</p> 
                    </div> 
                </div> 
                <link rel="stylesheet" href="css/jquery.Jcrop.css" type="text/css" /> 
            </div> 
        </div> 
        <div class="footer"> 
            <div class="mod-back"> 
                <span class="qrcode"> <span class="ico"></span> <img src="images/qrcode.jpg" alt="联途微信二维码" width="200" height="200" />官方微信服务号 </span> 
                <a href="javascript:" class="code" id="code"></a> 
                <a href="views/main.html" class="customer"></a>
                <a href="#" class="goback"></a> 
            </div> 
            <div class="mod-foot"> 
                <div class="info"> 
                    <div class="contact"> 
                        <p class="logo"> <a href="views/main.html"><img src="images/logo.png" alt="联途" width="136" height="50" /></a> <span>同行之路，有你才有意义</span> </p>
                        <p class="tell">4006 666863</p> 
                        <p>24小时服务热线</p> 
                    </div> 
                    <dl> 
                        <dt>
                        公司信息
                        </dt> 
                        <dd>
                            <a href="http://www.liantu.cnabout.html" target="_blank" rel="nofollow">关于我们</a>
                        </dd> 
                        <dd>
                            <a href="http://www.liantu.cncopyright.html" target="_blank" rel="nofollow">免责声明</a>
                        </dd> 
                        <dd>
                            <a href="http://www.liantu.cncontact.html" target="_blank" rel="nofollow">联系我们</a>
                        </dd> 
                        <dd>
                            <a href="http://www.liantu.cnjoin.html" target="_blank" rel="nofollow">加入我们</a>
                        </dd> 
                    </dl> 
                    <dl> 
                        <dt>
                        帮助中心
                        </dt> 
                        <dd>
                            <a href="http://www.liantu.cnxieyi.html" target="_blank" rel="nofollow">用户协议</a>
                        </dd> 
                        <dd>
                            <a href="http://www.liantu.cnsafe.html" target="_blank" rel="nofollow">安全保障</a>
                        </dd> 
                        <dd>
                            <a href="http://www.liantu.cnprocess.html" target="_blank" rel="nofollow">预定流程</a>
                        </dd> 
                    </dl> 
                    <dl class="app"> 
                        <dt>
                        发现
                        </dt> 
                        <dd>
                            <a href="http://www.liantu.cn/app/" target="_blank">Android客户端</a>
                        </dd> 
                        <dd>
                            <a href="http://www.liantu.cn/app/" target="_blank">iOS客户端</a>
                        </dd> 
                        <dd>
                            <a href="http://www.liantu.cn/app/huilv/" target="_blank">联途汇率</a>
                        </dd> 
                        <dd>
                            <a href="http://www.liantu.cn/app/tongyou/" target="_blank">联途同游</a>
                        </dd> 
                    </dl> 
                </div> 
                <div class="copyright"> 
                    <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">闽ICP备15007411号-1</a> Copyright &copy; 2016 liantu.cn, All Rights Reserved stat 
                </div> 
            </div> 
        </div>

        <script type="text/javascript" src="/js/jquery-3.3.1.js" ></script>
        <script type="text/javascript" src="/js/jquery-form.js" ></script>
        <script type="text/javascript" src="/js/all_common.js" ></script>
        <script src="/js/layer/layer.js"></script>
        <script src="/js/all_common.js"></script>
        <script type="text/javascript">
            var userName;
            function optionImage(){

                if(!userName){
                    layer.msg('请先登录！');
                    return;
                }else{
                    $("input[name='file']").click();
                }
            }

            function uploadFile(){
                $("#fileForm").ajaxSubmit(this,function(_res){
                    if (_res.code===200) {
                        $("#j-curimg").attr("src",res.data);
                    } else if (_res.code===500) {
                        layer.msg("上传失败");
                    }
                });
            }

            function saveFile(){
                $.ajax({
                    url: '/file/uploadPhoto',
                    data:{"filename": $("#j-curimg").attr("src")},
                    type: 'post',
                    success: function (_res) {
                        if (_res.code===200) {
                            layer.msg('保存成功!');
                        } else if (_res.code===500) {
                            layer.msg('保存失败!');
                        }
                    }
                });
            }



        </script>
    </body>
</html>