<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit"/>
    <title>结伴同游 联途用户中心</title>
            <link rel="shortcut icon" href="http://static.liantu.cn/image/public/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../css/common_member.css"/>
        <link rel="stylesheet" type="text/css" href="../css/createlist.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <style>
        .mod-head .login .name {
            display: -webkit-inline-box;
        }
    </style>
</head>
<body>
<div class="header">
    <div class="top-bg"></div>

    <div class="mod-head">
        <div class="box">
            <a href="/" class="logo"><img src="../images/logo.png" alt="联途" /></a>
            <div class="link">
                <a href="/toApply">申请成为向导</a>
            </div>
            <div class="login pl-login-info displayNone" id="pl-login-info" >
                <div class="user" >
                    <img src="http://static.liantu.cn/image/public/man_100x100.jpg" id="topUserImage" id = "topUserImage" alt="cp" width="40" height="40">
                    <span class="name" id="login_user_name"></span>
                    <span class="ico"></span>
                </div>
                <div class="list" id="loginInfo" style="display: none;height: 138px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px; right: -26px;">
                    <div class="ico">
                    </div>
                    <ul>
                        <li class="d-pc">
                            <a href="/toMemberInfo">个人信息</a>
                        </li>
                        <li>
                            <a href="/views/tourOrder.html">我的订单</a>
                        </li>
                        <li>
                            <a href="/views/wodetongyou.html">我的同游</a>
                        </li>
                        <li class="d-pc">
                            <a onclick="loginOut()">退出</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="login pl-login-info displayNone" id="loginDiv">
                <div class="info">
                    <a  href="/login">登录</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="home">
        <a href="main.html">
            <span class="plus"></span>返回首页
        </a>
    </div>
    <div class="wrap">
        <div class="side">
            <div class="avatar">
                <img src="http://static.liantu.cn/image/public/man_160x160.jpg" id="atopUserImage" alt="用户中心"/>
                </p>
            </div>
            <ul class="menu">
                <li> <a href="/toMemberInfo" class="info">基本信息</a>
                    <div class="sub-menu">
                        <p><a href="/toMemberAvatar" class="sc2">更换头像</a></p>
                        <p><a href="/toUpdatePassword" class="sc2">修改密码</a></p>
                    </div> </li>

                <li> <a href="/totourOrder" class="order">我的订单</a> </li>
                <li> <a href="/towallet" class="wallet">我的钱包</a> </li>
                <li> <a href="/towith" class="gowith">结伴同游</a> </li>
            </ul>
        </div>
        <div class="content">
            <div class="hd">结伴同游</div>
            <div class="bd">
                <div class="mod-create">
                    <table class="table" cellspacing="0">
        <tr class="create-hd">
            <td class="detail" colspan="2">
                03月17日 南京到北京 4日游 求结伴同游                        </td>
            <td class="date" colspan="2">
                2016-03-08                        </td>
        </tr>
        <tr class="create-bd">
            <td width="37%">
                <dl>
                    <dt>出发时间<span>（共4天）</span></dt>
                    <dd class="time">
                         2016-03-17<span class="to">至</span>2016-03-21                                </dd>
                </dl>
            </td>
            <td width="23%">
                <dl>
                    <dt>行程路线</dt>
                    <dd class="termini">南京~北京</dd>
                </dl>
            </td>
            <td width="16%">
                <dl>
                    <dt>参加人数</dt>
                    <dd>1<span>/</span>2</dd>
                </dl>
            </td>
            <td class="btn">
                <a class="submit" value="" href='http://www.liantu.cn/tongyou/114.html'>查看详情</a>
                                            <a href="javascript:;" class="delete" data-id="114">删除</a>
                <span class="divide">|</span>
                <a href="javascript:;" data-src="/member/travel/edit/?tid=114" class="edit">编辑</a>
                                        </td>
        </tr>
    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">

    <div class="mod-back">
        <span class="qrcode">
            <span class="ico"></span>
            <img src="http://static.liantu.cn/image/public/qrcode.jpg" alt="联途微信二维码" width="200" height="200"/>官方微信服务号
        </span>
        <a href="javascript:" class="code" id="code"></a>
        <a href="/" class="customer"></a>
        <a href="#" class="goback"></a>
    </div>

    <div class="mod-foot">
        <div class="info">
            <div class="contact">
                <p class="logo">
                    <a href="/"><img src="http://static.liantu.cn/image/public/logo.png" alt="联途" width="136" height="50"/></a>
                    <span>同行之路，有你才有意义</span>
                </p>

                <p class="tell">4006 666863</p>

                <p>24小时服务热线</p>
            </div>
            <dl>
                <dt>公司信息</dt>
                <dd><a href="http://www.liantu.cn/about/aboutus/" target="_blank"  rel="nofollow">关于我们</a></dd>
                <dd><a href="http://www.liantu.cn/about/copyrightstatement/" target="_blank"  rel="nofollow">免责声明</a></dd>
                <dd><a href="http://www.liantu.cn/about/contactus/" target="_blank"  rel="nofollow">联系我们</a></dd>
                <dd><a href="http://www.liantu.cn/about/joinus/" target="_blank" rel="nofollow">加入我们</a></dd>
            </dl>
            <dl>
                <dt>帮助中心</dt>
                <dd><a href="http://www.liantu.cn/about/userprotocol/" target="_blank"  rel="nofollow">用户协议</a></dd>
                <dd><a href="http://www.liantu.cn/about/safetyassurance/" target="_blank"  rel="nofollow">安全保障</a></dd>
                <dd><a href="http://www.liantu.cn/about/bookingprocess/" target="_blank"  rel="nofollow">预定流程</a></dd>
                            </dl>
            <dl class="app">
                <dt>发现</dt>
                <dd><a href="http://www.liantu.cn/app/" target="_blank">Android客户端</a></dd>
                <dd><a href="http://www.liantu.cn/app/" target="_blank">iOS客户端</a></dd>
                <dd><a href="http://www.liantu.cn/app/huilv/" target="_blank">联途汇率</a></dd>
                <dd><a href="http://www.liantu.cn/app/tongyou/" target="_blank">联途同游</a></dd>
            </dl>
        </div>

        <div class="copyright">
            <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">闽ICP备15007411号-1</a>
            Copyright &copy; 2016 liantu.cn, All Rights Reserved stat
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/jquery.min.2.1.1.js" ></script>
<script type="text/javascript" src="/js/jquery-form.js" ></script>
<script type="text/javascript" src="/js/all_common.js" ></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/layer/layer.js"></script>
<script type="text/javascript">

    $(function(){
        $.ajax({
            type:"post",
            url:"/visitor/getVisitor",
            success:function(_res){
                if(_res.code == "200") {
                    $('#topUserImage').attr('src', _res.data.sculpture);
                    $('#atopUserImage').attr('src', _res.data.sculpture);
                    console.log(_res);
                }
            }
        });
    });

    var userName;
    loginFun();
    window.onload = function getTripToghterData(){
        $.ajax({
            url: '/tovisitor/queryByVisitorId',
            type: 'post',
            success: function (_res) {
                console.log(_res);
                if (_res.code===200) {
                 var   tableHtml = "";
                    tableHtml+='<table class="table" cellspacing="0">';
                    tableHtml+='<tr class="create-hd"><td class="detail" colspan="2">';
                    var date = new Date(_res.data.date);
                    var Y = date.getFullYear() + '-';
                    var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
                    var D = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate()) + ' ';
                    tableHtml+=_res.data.title;
                    tableHtml+='</td> <td class="date" colspan="2">';
                    tableHtml+=Y+M+D;
                    tableHtml+='</td> </tr> <tr class="create-bd"> <td width="37%"> <dl> <dt>出发时间<span>（共';
                    tableHtml+=_res.data.timenum;
                    tableHtml+='）天';
                    tableHtml+='</span></dt><dd class="time">';
                    tableHtml+=Y+M+D;
                    tableHtml+='至';
                    var date1 = new Date(_res.data.date+(_res.data.timenum*24*3600*1000));
                    var Y1 = date1.getFullYear() + '-';
                    var M1 = (date1.getMonth()+1 < 10 ? '0'+(date1.getMonth()+1) : date1.getMonth()+1) + '-';
                    var D1 = (date1.getDate() < 10 ? '0' + (date1.getDate()) : date1.getDate()) + ' ';

                    tableHtml+=Y1+M1+D1;
                    tableHtml+=' </dd>';
                    tableHtml+='</dl> </td> <td width="23%"> <dl> <dt>行程路线</dt> <dd class="termini">';
                    tableHtml+=_res.data.departure+'~'+_res.data.destination;
                    tableHtml+='</dd> </dl> </td> <td width="16%"> <dl> <dt>参加人数</dt> <dd>';
                    tableHtml+=_res.data.presentpart;
                    tableHtml+='<span>/</span>';
                    tableHtml+=_res.data.part;
                    tableHtml+='  </dd> </dl> </td> <td class="btn">';
                    tableHtml+='<a class="submit" value="" onclick="toDetailed(\''+_res.data.tovisitorid+'\')">查看详情</a>';
                    tableHtml+='<a  class="delete" onclick="deleteData(\''+_res.data.tovisitorid+'\')">删除</a>';
                    //tableHtml+=' <span class="divide">|</span>';
                    //tableHtml+='<a onclick="updateData(\''+_res.data.tovisitorid+'\')" class="edit">编辑</a>';
                    tableHtml+='</td> </tr> </table>';
                    $('.table').html(tableHtml);
                } else if (_res.code===500) {
                }
            }
        });
    }

    function toDetailed(mainId){
        Cookies.set("tongyouMainId",mainId);
        location.href="/views/tongyou/tongyouDetail.html";
    }

    function deleteData(mainId) {
        Cookies.set("tongyouMainId",mainId);
        layer.confirm('是否真的要删除？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            $.ajax({
                url: '/tovisitor/delTovisitor',
                data:{"toVisitorId": mainId},
                type: 'post',
                success: function (_res) {
                    if (_res.code===200) {
                        layer.msg(res.message);
                        location.href = '/toMemberInfo';
                    } else if (_res.code===500) {
                        layer.msg('删除失败!');
                    }
                }
            });
        }, function(){
            layer.close();
        });
    }

</script>
</body>
</html>