<!DOCTYPE html>
<html lang="zh-CN">
 <head> 
  <meta charset="utf-8" /> 
  <title>北京 - 导游</title> 
  <meta name="renderer" content="webkit" /> 
  <meta http-equiv="mobile-agent" content="format=html5; url=http://m.liantu.cn/daoyou/beijing/" /> 
  <meta name="keywords" content="北京导游,北京私人导游 北京旅游导游,北京导游服务" /> 
  <meta name="description" content="联途提供专业北京导游服务，包含北京最新导游信息，出游时方便您快速找到最合适的导游，让您愉快旅行。" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  <link rel="shortcut icon" href="../../images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="../../css/common.css" />
  <link rel="stylesheet" type="text/css" href="../../css/city.css" />
  <link rel="stylesheet" type="text/css" href="../css/common.css" />
  <link rel="stylesheet" type="text/css" href="/js/page/pagination.css" media="screen">
  <script type="text/javascript">
var TU={
wwwUrl:'http://www.liantu.cn',
myUrl:'http://my.liantu.cn',
imageUrl:'http://static.liantu.cn/image/',
domain:'liantu.cn',
today:'2016-03-08',
mobile_agent:'http://m.liantu.cn/daoyou/beijing/'
};
var isMobi = (function(){
var u = navigator.userAgent.toLowerCase();
return  u.indexOf("mobi") > 0 || u.indexOf("nexus 7") > 0 || u.indexOf("480") > 0;
})();
if(isMobi&&TU.mobile_agent!=''){
location.href = TU.mobile_agent;
}
</script> 
  <script type="text/javascript" id="js-prelogin" src="../../js/cas.js"></script>
  <script type="text/javascript" src="../../js/jquery.seajs.js" id="seajsnode"></script>
  <!--[if lte IE 8]>
<script type="text/javascript">
$(function(){
var $body=$('body');
var $window =  $(window);
$window.resize(function() {
var width = $window.width();
if(width<768){
$body.addClass("media-small").removeClass("media-medium");
}else if(width<1300){
$body.addClass("media-medium").removeClass("media-small");
}else{
$body.removeClass("media-small").removeClass("media-medium");
}
}).resize();
});
</script>
<![endif]-->
  <style>
   .mod-head .login .name {
    display: -webkit-inline-box;
   }
   .displayNone{
    display: none;
   }
  </style>
 </head> 
 <body> 
  <div class="wrapper">
   <div class="header">
    <div class="mod-head"> 
     <div class="bg"></div> 
     <div class="box"> 
      <div class="logo">
       <a href="/"><img src="../../images/logo.png" alt="联途" /></a>
      </div> 
      <div class="J_search search"> 
       <div class="sbox"> 
        <input type="text" class="text" placeholder="输入想去的地方（例如：北京）" id="search_text" />
        <span class="ico"><span></span></span> 
       </div> 
      </div>
      <div class="login pl-login-info displayNone" id="pl-login-info" >
       <div class="user" >
        <img src="http://static.liantu.cn/image/public/man_100x100.jpg" alt="cp" width="40" height="40">
        <span class="name" id="login_user_name"></span>
        <span class="ico"></span>
       </div>
       <div class="list" id="loginInfo" style="display: none;height: 138px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px; right: -26px;">
        <div class="ico">
        </div>
        <ul>
         <li class="d-pc">
          <a href="/toMemberInfo">个人信息</a>
         </li>
         <li>
          <a href="http://my.liantu.cn/member/order/">我的订单</a>
         </li>
         <li>
          <a href="http://my.liantu.cn/member/travel/createlist/">我的同游</a>
         </li>
         <li class="d-m">
          <a href="http://my.liantu.cn/member/account/">我的钱包</a>
         </li>
         <li class="d-m">
          <a href="/banyou/">伴游</a>
         </li>
         <li class="d-m">
          <a href="/daoyou/">导游</a>
         </li>
         <li class="d-m">
          <a href="/tongyou/">同游</a>
         </li>
         <li class="d-pc">
          <a onclick="loginOut()">退出</a>
         </li>
        </ul>
       </div>
      </div>
      <div class="login pl-login-info displayNone" id="loginDiv">
       <div class="info">
        <a  href="/login">登录</a>
       </div>
      </div>
     </div>
    </div> 
   </div>
   <div class="container"> 
    <div class="full-column"> 
     <div class="mod-bg" style="background-image:url(../../images/201507271645065916.jpg);" id="backGroundImg"></div>
     <div class="mod-sort" data-id="1"> 
      <h1 id="cityName">北京</h1>
     </div>
    </div> 
    <div class="inner"> 
     <div class="main"> 
      <div class="mod-step"> 
       <div class="step"> 
        <dl> 
         <dt>
          1
         </dt> 
         <dd>
           找到心仪的导游
          <br /> 并提交预订申请 
         </dd> 
        </dl> 
        <dl> 
         <dt>
          2
         </dt> 
         <dd>
           等待导游
          <br /> 处理您的申请 
         </dd> 
        </dl> 
        <dl> 
         <dt>
          3
         </dt> 
         <dd>
           申请被接受
          <br /> 支付费用 
         </dd> 
        </dl> 
        <dl> 
         <dt>
          4
         </dt> 
         <dd>
           快乐享受旅行
          <br /> 最后给导游评价 
         </dd> 
        </dl> 
       </div> 
      </div> 
      <div class="mod-bar">
       <div class="label">
        导游列表：
       </div>
      </div>
      <div class="mod-list">
       <ul class="data" data-type="daoyou" id="tourListUl">
       </ul>
       <p class="no-more displayNone" id="hasNoTour" >没有更多了</p>
       <!--<div class="m-style M-box3"></div>-->
       <div class="more"> 
        <a href="javascript:"><span></span>查看更多导游</a> 
       </div> 
      </div> 
      <div class="mod-raiders mod-hot"> 
       <div class="hd"> 
        <span class="tit"><a id="strateA" target="_blank"><span id="whereStrategy">北京</span> 旅游攻略</a></span>
        <span>/</span> 
        <a onclick="toScienicOrStrate(1)" class="hmore" target="_blank" title="北京旅游攻略">更多</a>
       </div> 
       <div class="bd"> 
        <div class="raiders"> 
         <ul id="strateUl">
         </ul>
        </div> 
       </div> 
      </div> 
      <div class="mod-spot mod-hot"> 
       <div class="hd"> 
        <span class="tit"><a id="scenicA" target="_blank"><span id="whereScenic">北京</span>旅游景点</a></span>
        <span>/</span> 
        <a onclick="toScienicOrStrate(2)" class="hmore" target="_blank" title="北京旅游景点">更多</a>
       </div> 
       <div class="bd"> 
        <div class="spot"> 
         <ul id="scenicUl">
         </ul>
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div class="footer"> 
    <div class="mod-back"> 
     <span class="qrcode"> <span class="ico"></span> <img src="../../images/qrcode.jpg" alt="联途微信二维码" width="200" height="200" />官方微信服务号 </span>
     <a href="javascript:" class="code" id="code"></a> 
     <a href="" class="customer"></a>
     <a href="#" class="goback"></a> 
    </div> 
    <div class="mod-foot"> 
     <div class="info"> 
      <div class="contact"> 
       <p class="logo"> <a href="../main.html"><img src="../../images/logo.png" alt="联途" width="136" height="50" /></a> <span>同行之路，有你才有意义</span> </p>
       <p class="tell">4006 666863</p> 
       <p>24小时服务热线</p> 
      </div> 
      <dl> 
       <dt>
        公司信息
       </dt> 
       <dd>
        <a href="" target="_blank" rel="nofollow">关于我们</a>
       </dd> 
       <dd>
        <a href="" target="_blank" rel="nofollow">免责声明</a>
       </dd> 
       <dd>
        <a href="" target="_blank" rel="nofollow">联系我们</a>
       </dd> 
       <dd>
        <a href="" target="_blank" rel="nofollow">加入我们</a>
       </dd> 
      </dl> 
      <dl> 
       <dt>
        帮助中心
       </dt> 
       <dd>
        <a href="" target="_blank" rel="nofollow">用户协议</a>
       </dd> 
       <dd>
        <a href="" target="_blank" rel="nofollow">安全保障</a>
       </dd> 
       <dd>
        <a href="" target="_blank" rel="nofollow">预定流程</a>
       </dd> 
      </dl> 
      <dl class="app"> 
       <dt>
        发现
       </dt> 
       <dd>
        <a href="" target="_blank">Android客户端</a>
       </dd> 
       <dd>
        <a href="" target="_blank">iOS客户端</a>
       </dd> 
       <dd>
        <a href="" target="_blank">联途汇率</a>
       </dd> 
       <dd>
        <a href="" target="_blank">联途同游</a>
       </dd> 
      </dl> 
     </div> 
     <div class="copyright"> 
      <a href="" target="_blank" rel="nofollow">闽ICP备15007411号-1</a> Copyright &copy; 2016 liantu.cn, All Rights Reserved stat
     </div> 
    </div> 
   </div> 
  </div> 
  <script type="text/javascript">
(function(){
var $info3 = $('.pl-login-info');
PL.init({
domain:'http://my.liantu.cn',
callback:function(nickName,html){
!PL.MID ? (function () {
html.push('<div class="info"><a href="javascript:;" onclick="TU.login();">登录</a></div>');
})() : (function () {
var num=PL.type?(PL.merchantlaunchordernum+PL.merchantordernum):PL.memberordernum;
html.push('<div class="user">'+(num>0?'<span class="num"><span>'+num+'</span></span>':'')+'<img src="'+PL.avatar+'" alt="' + nickName + '" width="40" height="40"/><span class="name">' + nickName + '</span><span class="ico"></span></div>');
if(PL.type){
html.push('\
<div class="list">\
<div class="ico"></div>\
<ul>\
<li class="d-pc"><a href="http://my.liantu.cn/merchant/">商户信息</a></li>\
<li><a href="http://my.liantu.cn/merchant/order/reserve/">'+(PL.merchantlaunchordernum?'<span class="num"><span>'+PL.merchantlaunchordernum+'</span></span>':'')+'预约管理</a></li>\
<li><a href="http://my.liantu.cn/merchant/order/">'+(PL.merchantordernum?'<span class="num"><span>'+PL.merchantordernum+'</span></span>':'')+'订单管理</a></li>\
<li class="d-m"><a href="http://my.liantu.cn/merchant/account/">我的钱包</a></li>\
<li class="d-m"><a href="/banyou/">伴游</a></li>\
<li class="d-m"><a href="/daoyou/">导游</a></li>\
<li class="d-m"><a href="/tongyou/">同游</a></li>\
<li class="d-pc"><a href="javascript:;" onclick="TU.logout();">退出</a></li>\
</ul>\
</div>');
}else{
html.push('\
<div class="list">\
<div class="ico"></div>\
<ul>\
<li class="d-pc"><a href="member_info.html">个人信息</a></li>\
<li><a href="member_order.html">'+(PL.memberordernum>0?'<span class="num"><span>'+PL.memberordernum+'</span></span>':'')+'我的订单</a></li>\
<li><a href="member_tongyou.html">我的同游</a></li>\
<li class="d-m"><a href="http://my.liantu.cnmember_withdraw.html">我的钱包</a></li>\
<li class="d-m"><a href="/banyou/">伴游</a></li>\
<li class="d-m"><a href="/daoyou/">导游</a></li>\
<li class="d-m"><a href="/tongyou/">同游</a></li>\
<li class="d-pc"><a href="javascript:" onclick="TU.logout();">退出</a></li>\
</ul>\
</div>');
}
})();
if (!pl_status &&!PL.type) {
var div=document.createElement('div');
div.className='link';
div.innerHTML='<a href="apply.html" target="_blank">申请成为向导</a>';
var $info=document.getElementById('pl-login-info');
if($info){
$info.parentNode.insertBefore(div,$info);
}
}
pl_status=1;
}
});
})();
var pl_status=0;
</script> 

  <script type="text/javascript">
      seajs.config({
                base: './',
                paths: {
                    'modules': './'
                },
                map: [
                    [/^(.*?\/script\/(?:src|dist)\/.*?\/.*?\.js$)(?:.*)$/i, '$1?version=v1']
                ],
                charset: 'utf-8'
            });

            seajs.use('js/common.js');
            seajs.use('js/city.js');

</script> 
  <div class="hide"> 
  </div>
  <script src="/js/jquery-3.3.1.js"></script>
  <script src="/js/jquery.cookie.js"></script>
  <script src="/js/layer/layer.js"></script>
  <script src="/js/all_common.js"></script>
  <script src="/js/page/jquery.pagination.js"></script>
  <script type="text/javascript">
      loginFun();
      var userName = $("#login_user_name").text();
      var mesa = Cookies.get('mesa');
      $(function(){
        if(mesa){
            searchCity(mesa);
            Cookies.remove("mesa");
        }
      });

      function searchCity(cityname){
          $.ajax({
              url:'/cityinfo/queryByName',
              data:{'cityname':cityname},
              type: 'post',
              dataType:"json",
              success:function(res){
                  alert(res);
                  if(res.data){
                      var cityinfo = res.data.cityinfo;
                      $("#cityName").text(cityinfo.cityname);
                      $("#whereStrategy").text(cityinfo.cityname);
                      $("#whereScenic").text(cityinfo.cityname);
                      $("#backGroundImg").css("background-image","url(" + cityinfo.cityphoto + ")");
                      var tourList = res.data.tourList;
                      if(tourList){
                          var TourListHtml = "";
                          for(var i=0;i<tourList.length;i++){
                              TourListHtml+=' <li class="J_blocklink">';
                              TourListHtml+='<a href="/daoyou/65581.html" target="_blank" class="pic">';
                              TourListHtml+='<img src="../../images/65581.jpg" alt="乔蕊" width="200" height="200" />'
                              TourListHtml+='</a>';
                              TourListHtml+='<p class="name"><span class="woman">';
                              TourListHtml+=tourList[i].realname;
                              TourListHtml+='</span></p> <p class="add"><span>';
                              TourListHtml+=tourList[i].city;
                              TourListHtml+='</span></p><div class="service">';
                              for(var j=0;j<tourList[i].ServiceList.length;j++){
                                  TourListHtml+='<span>'+ServiceList[j]+'</span>';
                              }
                              TourListHtml+='</div> <p class="info"> ';
                              TourListHtml+=tourList[i].tovisitorinfo;
                              TourListHtml+='</p>';
                              TourListHtml+='<div class="ft"><p> <span class="praise">好评率：';
                              TourListHtml+=tourList[i].appraise;
                              TourListHtml+='%</span> <span class="order">预约量：';
                              TourListHtml+=tourList[i].subscribe;
                              TourListHtml+='</span> <span class="nice">颜值：';
                              TourListHtml+=tourList[i].face;
                              TourListHtml+='%</span> </p>';
                              TourListHtml+='</div> </li>';
                          }
                          $("#tourListUl").html(TourListHtml);
                      }else{
                          $("#hasNoTour").removeClass("displayNone");
                      }
                      //攻略
                      var strategyList = res.data.strategyList;
                      if(strategyList){
                          var strateListHtml = "";
                          for(var i=0;i<strategyList.length;i++){
                              strateListHtml += '<li> <p><a href="" class="tag" target="_blank">[';
                              strateListHtml += strategyList[i].strategyname;
                              strateListHtml += ']</a> <a onclick="toScienicOrStrate(1,'+strategyList[i].strategyname+')" target="_blank">';
                              strateListHtml += strategyList[i].strategycol;
                              strateListHtml += '</a> </p> <span>攻略详情：';
                              strateListHtml += strategyList[i].strategyinfo;
                              strateListHtml += '</span> </li>';
                          }
                          $("#strateUl").html("strateListHtml");
                      }
                      //景点
                      var scenicList = res.data.scenicList;
                      if(scenicList){
                          var scenicListHtml = "";
                          for(var i=0;i<scenicList.length;i++){
                              scenicListHtml += '<li> <a onclick="toScienicOrStrate(2,'+scenicList[i].scenicname+')" target="_blank">';
                              scenicListHtml += scenicList[i].scenicname;
                              scenicListHtml += '</a> <span class="address">';
                              scenicListHtml += scenicList[i].address;
                              scenicListHtml += '</span> </li>';
                          }
                          $("#scenicUl").html("scenicListHtml");
                      }
                  }
              }
          });
      }


//      function searchTourList(pageCount,totalData,current){
//          $('.M-box3').pagination({
//              pageCount: pageCount,
//              totalData:totalData,
//              current:current,
//              jump: true,
//              coping: true,
//              homePage: '首页',
//              endPage: '末页',
//              prevContent: '上页',
//              nextContent: '下页',
//              callback: function (api) {
//                  console.log(api.getCurrent());
//
////              <li class="J_blocklink"> <a href="/daoyou/65581.html" target="_blank" class="pic"><img src="../../images/65581.jpg" alt="乔蕊" width="200" height="200" /></a> <p class="name"><span class="woman">乔蕊</span></p> <p class="add"><span>北京，70后</span></p>
////                  <div class="service">
////                      <span>伴游向导</span>
////                      <span>行程规划</span>
////                      <span>代订服务</span>
////                      </div> <p class="info"> 节假日来北京玩，旅途很寂寞？不要担心，我来带你玩转北京，去南锣鼓巷体验一把老北京胡同的热闹，去798感受一下艺术气息，去颐和园、故宫看看皇家园林的气派，去看看长城的宏伟，还有很多逼格很高、很小资的别样小馆，如果你想去，我都可以带你去…… </p>
////                  <div class="price">
////                      <span class="unit">￥<span>100.00</span>元/天</span> (不含车)
////                  </div>
////                  <div class="ft">
////                      <p> <span class="praise">好评率：0%</span> <span class="order">预约量：0</span> <span class="nice">颜值：0%</span> </p>
////                  </div> </li>
//
//
////                  var data = {
////                      page: api.getCurrent(),
////                      name: 'mss',
////                      say: 'oh'
////                  };
////                  $.getJSON('https://www.easy-mock.com/mock/58fff7a5739ac1685205ad5d/example/pagination#!method=get', data, function (json) {
////                      console.log(json);
////                  });
//              }
//          });
//      }

      document.onkeydown = function(e){
          var ev = document.all ? window.event : e;
          if(ev.keyCode==13) {
              var cityname = $("#search_text").val();
              if(cityname){
                  searchCity(cityname);
              }else{
                  layer.msg("请输入要搜索的城市信息");
              }
          }
      }

      $("#strateA").click(function(){
          var queryName = $("whereStrategy").text();
          toScienicOrStrate(2,queryName);
      });

      $("#scenicA").click(function(){
          var queryName = $("whereScenic").text();
          toScienicOrStrate(1,queryName);
      });

      function toScienicOrStrate(type,queryName){
          Cookies.set("ScienicOrStrateType",type);
          Cookies.set("ScienicOrStrateQueryName",queryName);
          location.href="/views/jingdian/jingdian.html";
      }
  </script>
 </body>
</html>